p {
  color: red;
}

.destacable {
  letter-spacing: 5px;

}

p.grande {
  color: green;
  font-size: 150%;
}

section.grande {
  color: rgb(218, 47, 118);
  font-size: 200%;
}

#principal {
  color: blueviolet;
}

section p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'trebuchet MS', sans-serif;
  color: blue;
}

article p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.grande p {
  font-family: 'trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}