*{
  box-sizing: border-box;
}


html {
  background-color: #FF69B4;
  padding: 30px;
  padding-top: 0px;
  font-size: 30px;
}
h1{
  text-align: center;
}

img{
  float: left;
  width: 250px;
}

img:hover{
  border: 2px solid firebrick;
}
main:hover img{
  float: right;
}