* {
  background-color: aquamarine;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  width: 75%;
  margin: 0 auto;
}

article {
  text-align: justify;
  margin: 0 auto;
}

p {
  text-indent: 10px;
}

em {
  font-weight: 700;
}

span {
  color: blue;
}

img {
  margin: 10px;
}

#bandera {
  width: 100px;
  float: left;
}

#king {
  float: right;
}

.limpia {
  clear: both;
}