div {
  border: 1px solid black;
  position: relative;
}

div.bloque1 {
  background-color: rgb(185, 185, 185);
  margin: auto;
  position: relative;
  top: 100px;
  width: 600px;
  height: 100px;
  z-index: 100;
}

div.bloque2 {
  background-color: rgb(81, 164, 83);
  margin: auto;
  position: relative;
  bottom: 100px;
  width: 500px;
  height: 500px;
  z-index: 20;
}

div.hijo1 {
  background-color: rgb(68, 130, 235);
  position: absolute;
  right: 23px;
  top: 150px;
  height: 100px;
  width: 450px;
  z-index: 70;
}

div.hijo2 {
  background-color: grey;
  position: absolute;
  top: 50px;
  right: 50px;
  height: 400px;
  width: 150px;
  z-index: 60;
}

div.hijo3 {
  background-color: hotpink;
  position: absolute;
  bottom: 5px;
  right: 15px;
  width: 210px;
  height: 100px;
  z-index: 50;
}

div.bloque3 {
  background-color: rgb(235, 208, 102);
  position: relative;
  bottom: 170px;
  margin: auto;
  height: 150px;
  z-index: 10;
}