table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 300px;
  border: 1px black solid;

}

table caption{
  color: darkblue;
  font-weight: 600;
  font-size: 20px;
}

table tr th {
  color: white;
  background-color: black;
}

table tr:nth-child(even){
  color: wheat;
  background-color: tomato;
  text-align: center;
}

table tr.par {
  color: beige;
  background-color: lightsalmon;
  text-align: center;
}

table tr td.transporte {
  color: olivedrab;
  background-color: greenyellow;
  text-align: center;
}

section>div {
  column-count: 2;
  column-gap: 30px;
  column-rule: 5px outset gray;
}

section div img.original{
  border-radius: 150px;
}

section div img.mediana{
  width: 150px;
}

section div img.pequeña{
  width: 100px;
}
section div.cuadrado {
    width: 100px; 
    height: 100px; 
    background-image: url(logoadobe.png);
    background-size: 100px;
    display: inline-block;
    width: 100px;
}
section div.cuadrado2 {
    display: inline-block;
    width: 100px;
    width: 100px; 
    height: 100px; 
    background-image: url(fotoslogo.png);
    background-size: 100px;
}
section div.caja{
  border: 2px solid rebeccapurple;
  padding: .5em;
}