html{
  background-color: #CD5C5C;
}
body{
  background-color: #DB7093;
  margin-left: 200px;
  margin-right: 100px;
  margin-top: -20px;
}
header , nav {
  text-align: center;
}
a:link , a:visited{
  text-decoration: none;
}
h2 ,p{
  scroll-behavior: smooth;
}

.link{
  color: white;
  padding-inline: 30px;
}

main {
  padding-left: 10px;
}