* {
  font-family: system-ui;
  font-size: 14px;
  line-height: 1.5px;
  color: #494949;
}

p{
  color: #666;
  text-indent: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

h1{
  font-weight: 700;
  color: fuchsia;
  font-size: 22px;
}

.producto {
  background-color: pink;
}

.descrip{
  font-weight: 700;
  text-decoration: underline;
  font-size: 2em;
}

h1>span.especial {
  color: greenyellow;
text-decoration: underline pink;
background-color: black;
height: 20px;
}

#destacado {
  text-align: center;
}

#destacado img{
  width: 50%;
}

#anuncio {
  border: 5px solid #dd1e64;
  width: 60%;
  height: 60%;
  object-position: center;
  
}

p {
  color: white;
}