img {
  width: 400px;
  clear: left;
  margin-bottom: 1px;
  margin-right: 10px;
}
figcaption{
  display: none;
}

figure:hover figcaption{
  display: block;
  position: relative;
  color: white;
  font-size: 20px;
  top: -30px;
  text-align: center;
  z-index: 100;
}

figure {
  position: relative;
  float: left;
}