* {
  background-color: aquamarine;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


em {
  font-weight: 700;
}

span{
  color: blue;
}

#bandera{
  width: 200px;
}

#fotoperfil {
  float: right;
}

#bandera{
  float: left;
  padding-bottom: 1000px;
}